# Server
ENVIRONMENT =
PORT =

# MongoDB
MONGOURI = 
MONGODBNAME = 

# Secret Keys
PRIVATE_KEY = 
CRYPTO_PRIVATE_KEY = 

# Bcrypt Salt
BECRYPT_SALT =

# Crypto Bytes Number
RANDOM_TOKEN = 

# Host
HOST = 

# SSL
KEY = 
CERTIFICATE =

# Json web token 
JWT_SECRET = 
JWT_EXPIRES_IN = 

# Google OAuth Credential
G_CLIENT_ID = 
G_CLIENT_SECRET = 
G_AUTHENTICATION_URL = 
G_TOKEN_URL = 
G_REDIRECT_URL =

# Facebook OAuth Credential
F_CLIENT_ID = 
F_CLIENT_SECRET = 
F_REDIRECT_URL = 

# Apple OAuth Credential
A_CLIENT_ID =
A_TEAM_ID =
A_KEY_ID =
A_KEY_PATH =
A_REDIRECT_URL = 

# AWS Image Bucket Credential
S3_URL = 
S3_BUCKET_URL = 
ACCESS_KEY = 
SECRET_KEY = 
REGION = 

# Upload Document Size
PROFILE = 
COVER = 

# Upload Document Allowed Extensions
PROFILE = 
COVER = 